@model IEnumerable<ConcertListing_Capstone.Models.Luogo>

@{
    ViewBag.Title = "RicercaPerCitta";
}

<h3>Cerca i concerti nella tua città</h3>

<div class="container mt-5">
    <div id="Query" class="d-flex flex-wrap">
        @foreach (var item in Model)
        {
            <p class="mx-2 mb-3 fs-5">@Html.DisplayFor(modelItem => item.Città) <input type="checkbox" class="CheckValue" name="@item.Città" value="@item.Città" /></p>
        }
    </div>

    <button id="SearchType" class="personal-button mb-5 mt-2">Cerca Concerti</button>

    <div id="ResultSearch" class="container d-flex flex-wrap align-items-center h-100 my-5 "></div>

</div>



<script type="text/javascript">
    $(document).ready(function () {
        $("#SearchType").click(function () {
            $("#ResultSearch").empty();
            var mycheck = new Array();

            $(".CheckValue:checked").each(function () {
                mycheck.push($(this).val());
            });
            $.ajax({
                method: 'POST',
                data: { 'selezione': mycheck },
                url: 'ConcertiPerCitta',
                success: function (a) {

                    if (a.length == 0) {
                        $("#ResultSearch").append("<div class=\"alert alert-warning\">Nessun Concerto Trovato </div>")
                    }
                    $.each(a, function (index, valore) {


                        $("#ResultSearch").append(

                            "<div class=\"card mb-4\" style=\"background-image: url(/Content/ConcertoImg/" + valore.ImmagineCopertina + ")\">" +
                            "<div class=\"concert-info d-flex flex-column text-center  justify-content-end align-items-center\">" +
                            "<h2>" + valore.Nome + "</h2>" +
                            "<p class=\"citta\">" + valore.Città + " " + " " + valore.Data + "</p>" +
                            "<a class= \"btn personal-button\"href=\"/Concerto/Details/" + valore.IdConcerto + "?IdLuogo=" + valore.IdLuogo + "\" data-id=\"" + valore.IdLuogo + "\"> Clicca per i dettagli </a>" +
                            "</div>" +
                            "</div >"
                        );

                    })

                }
            })
        })
    })

</script>