
@{
    ViewBag.Title = "PannelloAmministrazione";
}


<div class="amm-box container mx-auto text-left">
<h2>Pannello Amministrazione</h2>
    <ul>
        <li>
            <i class="bi bi-music-note fs-3 me-2"></i> @Html.ActionLink("Gestione Artisti", "Index", "Artista")
        </li>
        <li>
            <i class="bi bi-geo-alt-fill fs-3 me-2"></i> @Html.ActionLink("Gestione Luoghi", "ListaLuoghi", "Luogo")
        </li>
        <li>
            <i class="bi bi-calendar-check fs-3 me-2"></i>  @Html.ActionLink("Gestione Concerti", "Index", "Concerto")
        </li>
        <li>
            <i class="bi bi-person-gear fs-3 me-2"></i>  @Html.ActionLink("Gestione Posti", "Index", "Posti")
        </li>
    </ul>
</div>