@model IEnumerable<ConcertListing_Capstone.Models.Concerto>


<div class="row text-center mb-5">
    <h1>
        Tutti i concerti
    </h1>
</div>
<div class="container d-flex flex-wrap justify-content-around align-items-center h-100 ">
    @foreach (var item in Model)
    {

         
        var dataIta = item.Data.ToString("d");
        ViewBag.itaData = dataIta;

        
        <div class="card mb-4" style="background-image: url(/Content/ConcertoImg/@Html.DisplayFor(modelItem => item.ImmagineCopertina))">

            
            <div class="concert-info d-flex flex-column text-center  justify-content-end align-items-center">
                <h2>@Html.DisplayFor(modelItem => item.Artista.Nome)</h2>
                <p class="citta">
                    @Html.DisplayFor(modelItem => item.Luogo.Città)

                    @ViewBag.itaData;
                </p>
                @Html.ActionLink("Clicca per i dettagli", "Details", "Concerto", new { id = item.IdConcerto, idLuogo = item.IdLuogo }, new {@class="btn personal-button"})
            </div>

        </div>
    }
</div>


