@{
    ViewBag.Title = "Home Page";
}


<main class="container text-center">
    <div>
        <h1 href="#" class="mb-5">JusTicket</h1>
    </div>
    <div id="slide-container" class=" container d-flex align-items-center mb-5">
        <div id="slide-one"></div>
        <div id="slide-two"></div>
        <div id="slide-three"></div>
        <div id="slide-four"></div>
        <div id="slide-five"></div>
    </div>
</main>
